/*board styling*/
.cell{
	width:150px;
	height:150px;
	display:inline-block;
	float:left;
	cursor:pointer;
}
.empty:hover{
	box-shadow: inset 0 0 30px rgba(0,220,50,1);
}
.borderbottom{
	border-bottom: 1px solid black;
}
.borderleft{
	border-left: 1px solid black;
}
.clear{
	clear:both;
}
.dino{
	position: relative;
	background-image: url('../images/dino.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	top:8px;
	padding:65px 0;
	border: 1px solid black;
	width:130px;
	margin: 0 auto;
	border-radius:100px;
	box-shadow: 0 0 5px rgba(140, 0, 0, 1);

}
.toe{
	position: relative;
	background-image: url('../images/toe.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
	top:8px;
	padding:65px 0;
	border: 1px solid black;
	width:130px;
	margin: 0 auto;
	border-radius:100px;
	box-shadow: 0 0 5px rgba(39, 35, 140, 1);
}
#thepics{
	background-color: white;
	/*-ms-transform: skew(-10deg,0deg); 
    -webkit-transform: skew(-10deg,0deg); 
    transform: skew(-10deg,0deg); */
}
.taken_dino{
	box-shadow: inset 0 0 10px rgba(140, 0, 0, 1);
}
.taken_toe{
	box-shadow: inset 0 0 10px rgba(39, 35, 140, 1);
}

/*generic*/
h1{
	font-family: helvetica;
}
h2{
	font-family: helvetica;
	font-size: 2em;
}
h3{
	font-family: helvetica;
	font-size: 1.5em;
}
.container{
	margin:0 auto;
	max-width: 800px;
	background-color: white;
}
.in-line{
	display:inline-block;
}
figcaption{
	font-family: helvetica;
	font-weight: 100;
	font-size: 1.5em;
}
.title{
	margin-top: .5em;
	font-size: 6em;
	text-align: center;
}

/*1st frame*/
#frame_one{
	text-align: center;
	padding-top: 3em;
	height:620px;
}
#titlecontain{
	margin: 0 auto;
	background-color: black;
	padding:3em 0;
	max-width: 500px;
	border-radius: 20px;
}
#submitButton{
	color:rgba(250,250,250,1);
	background-color:rgba(120,120,120,1);
	border:none;
	padding:1em;
	font-size: 1em;
	font-weight: 900;
	cursor:pointer;
}
#submitButton:hover{
	color:white;
	background-color: rgba(200,200,200,1);
}
#title_one{
	font-size: 6em;
	color:white;
}
#inputName{
	padding:1em;
	font-size: 1em;
	margin:0;
	border:3px rgba(100,190,140,1) solid;
}
#inputName:focus{
	outline-style: none;
}
#name_form{
	display:inline-block;
	vertical-align: text-bottom;
}
.startup_pic{
	height:200px;
}
#the_icons{
	margin-top: 2em;
}

/*2nd frame*/
#waiting{
	text-align: center;
	margin:1.5em 0;
	font-weight: 100;
	-webkit-animation: loadinganimate 4s infinite; /* Safari 4+ */
	-moz-animation:    loadinganimate 4s infinite; /* Fx 4+ */
	-o-animation:      loadinganimate 4s infinite; /* Opera 12+ */
	animation:         loadinganimate 4s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes loadinganimate {
  0%   { opacity: 0; color:black;}
  50% { opacity: 1; color:blue; }
  100%{ opacity: 0; color:black;}
}
@-moz-keyframes loadinganimate {
  0%   { opacity: 0; color:black;}
  50% { opacity: 1; color:blue;}
  100%{ opacity: 0; color:black;}
}
@-o-keyframes loadinganimate {
  0%   { opacity: 0; color:black;}
  50% { opacity: 1; color:blue;}
  100%{ opacity: 0; color:black;}
}
@keyframes loadinganimate {
  0%   { opacity: 0; color:black;}
  50% { opacity: 1; color:blue;}
  100%{ opacity: 0; color:black;}
}
#loading_pic{
	display:block;
	margin:0 auto;
	height:400px;
}

/*frame three*/
#title_three{
	font-size: 2em;
	margin-bottom: 1em;
}
#pOne{
	display:inline-block;
	font-size: 1.5em;
}
#pOnescore{
	display:block;
	font-size: 1.5em;
}
/*p1 scoreboard*/
#leftscore{
	float:left;
	text-align: center;
	padding-right: 2em;
}
#pTwo{
	display:inline-block;
	font-size: 1.5em;
}
#pTwoscore{
	display:block;
	font-size: 1.5em;
}
/*p2 scoreboard*/
#rightscore{
	padding-left: 2em;
	text-align: center;
	float:right;
}

#whosturn{
	padding-top: .5em;
	font-size: 2em;
	font-weight: 100;
	text-align: center;
	-webkit-animation: phasingin 1s; /* Safari 4+ */
	-moz-animation:    phasingin 1s; /* Fx 5+ */
	-o-animation:      phasingin 1s; /* Opera 12+ */
	animation:         phasingin 1s; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes phasingin {
  0%   { opacity: 0;}
  50% { opacity: 0;  }
  100%{ opacity: 1; }
}
@-moz-keyframes phasingin {
  0%   { opacity: 0; }
  50% { opacity: 0; }
  100%{ opacity: 1; }
}
@-o-keyframes phasingin {
  0%   { opacity: 0; }
  50% { opacity: 0; }
  100%{ opacity: 1; }
}
@keyframes phasingin {
  0%   { opacity: 0; }
  50% { opacity: 0; }
  100%{ opacity: 1; }
}



#board{
	/*box-shadow: 0 0 5px #888888;*/
	-webkit-animation: fadeIn 1s; /* Safari 4+ */
	-moz-animation:    fadeIn 1s; /* Fx 5+ */
	-o-animation:      fadeIn 1s; /* Opera 12+ */
	animation:         fadeIn 1s; /* IE 10+, Fx 29+ */

}

/*result*/
#endblur{
	font-weight: 100;
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.8);
	left:0;
	z-index: 1;
	text-align: center;
	-webkit-animation: fadeIn 3s 3s; /* Safari 4+ */
	-moz-animation:    fadeIn 3s 3s; /* Fx 5+ */
	-o-animation:      fadeIn 3s 3s; /* Opera 12+ */
	animation:         fadeIn 3s 3s; /* IE 10+, Fx 29+ */

}

#popup{
	margin-top: 6em;
	opacity: 1;
	text-align: center;
	background-color: rgba(0,0,0,.9);
	width: 600px;
	margin: 90px auto;
	height: 200px;
	padding-top: 100px;
	padding-bottom: 50px;
	border-radius: 20px;
	box-shadow: 0 0 5px;
	cursor:pointer;
}
#popup:hover{
	background-color: rgba(0,200,90,1);
}
#resultstatement{
	font-size: 5em;
	position:relative;
	color:rgba(255,255,255,1);
	padding-bottom:10px;
}
#playagain{
	font-size: 2em;
	color:rgba(50,50,250,1);
	cursor:pointer;
}



/*prevents static so flash screens can stack on top*/
#board_container{
	box-shadow: 0 0 20px gray;
	text-align: center;
	/*center board*/
	margin-left: 170px;
	top: 100px;
	margin-bottom: 50px;
	position: absolute;
	/*-ms-transform: skew(10deg,0deg); 
    -webkit-transform: skew(10deg,0deg); 
    transform: skew(10deg,0deg); */

}
#scoreboard{
	background-color: white;
	box-shadow: 0 0 3px gray;
	position:absolute;
	top:13.5em;
	left:1em;
	padding:1em 3em 3em 3em;
	font-weight: 100;
	-webkit-animation: fadeInLeftBig 1s; /* Safari 4+ */
	-moz-animation:    fadeInLeftBig 1s; /* Fx 5+ */
	-o-animation:      fadeInLeftBig 1s; /* Opera 12+ */
	animation:         fadeInLeftBig 1s; /* IE 10+, Fx 29+ */
}
/*tie*/
.tie{
	-webkit-animation: swing 1s infinite; /* Safari 4+ */
	-moz-animation:    swing 1s infinite; /* Fx 5+ */
	-o-animation:      swing 1s infinite; /* Opera 12+ */
	animation:         swing 1s infinite; /* IE 10+, Fx 29+ */
}

/*win*/
.winning{
	-webkit-animation: winanimate 2s infinite; /* Safari 4+ */
	-moz-animation:    winanimate 2s infinite; /* Fx 5+ */
	-o-animation:      winanimate 2s infinite; /* Opera 12+ */
	animation:         winanimate 2s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes winanimate {
  0%   { opacity: 0;}
  50% { opacity: 1;  }
  100%{ opacity: 0; }
}
@-moz-keyframes winanimate {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100%{ opacity: 0; }
}
@-o-keyframes winanimate {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100%{ opacity: 0; }
}
@keyframes winanimate {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100%{ opacity: 0; }
}


